.navigation {
    $self: &;
    position: relative;
    background: map-get($colors, "primary");

    &__image {
        max-width: rem(185px);
    }

    &__list {
        list-style: none;
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        margin: rem(25px) 0;
    }

    &__link {
        color: map-get($colors, "white");
        text-transform: uppercase;
        text-decoration: none;
        font-size: rem(15px);

        &--logo {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }

    &__sub {
        background: map-get($colors, "primary-dark");
    }

    &__matches {
        justify-content: space-between;
    }

    &__match {
        background: map-get($colors, "primary-medium");
        display: flex;
        border-radius: rem(2px);
        padding: 3px 3.3px;
        margin: rem(4px) 0;

        &-team {
            position: relative;
            display: flex;
        }

        &-team-name {
            color: map-get($colors, "white");
            font-size: rem(12px);
            font-weight: 500;

            &--first {
                margin-left: rem(5px);
            }

            &--second {
                margin-right: rem(5px);
            }
        }

        &-cards {
            position: relative;
            display: flex;

        }

        &-card {
            position: relative;
            font-size: rem(12px);
            font-weight: 500;

            &--yellow {
                padding: rem(1px) rem(3px);
                background: map-get($cards, "yellow-bg");
                margin-right: rem(3px);
                color: map-get($cards, "yellow-text");
            }

            &--red {
                padding: rem(1px) rem(2px);
                background: map-get($cards, "red-bg");
                color: map-get($cards, "red-text");
            }
        }

        &-score {
            color: map-get($colors, "white");
            font-size: rem(12px);
            font-weight: 500;
            margin: 0 rem(13px);
        }
    }
}