.intro {
    position: relative;
    min-height: rem(1000px);

    &__container {
        position: relative;
        z-index: 2;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(23deg, rgba(map-get($colors, "black"), .55), rgba(map-get($colors, "black"), .06));
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(142px);
        background: map-get($colors, "primary-dark");
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        z-index: 2;
    }

    background: {
        size: cover;
        position: center -30px;
        repeat: no-repeat;
    }

    &__title {
        padding-top: rem(130px);
        text-transform: uppercase;
        color: map-get($colors, "white");
        margin-top: 0;
        font-size: rem(45px);
        margin-bottom: 0;
        line-height: 1.81;
    }

    &__description {
        color: map-get($colors, "white");
        font-size: rem(16px);
        line-height: 1.81;
        font-weight: 300;
    }

}