.results {
    $self: &;
    margin-top: rem(-520px);
    position: relative;
    z-index: 2;

    &__wrapper {
        margin-top: rem(40px);
    }

    &__navigation {
        background: map-get($colors, "primary");
        display: flex;
        justify-content: space-between;
    }

    &__prev,
    &__next,
    &__current {
        padding: rem(10px) 0;
        color: map-get($colors, "white");
        font-weight: 500;
        text-transform: uppercase;
    }

    &__prev,
    &__next {
        font-size: rem(12px);
        align-items: center;
        display: flex;

        &:before {
            content: '';

        }
    }

    &__prev {
        margin-left: rem(10px);
    }

    &__next {
        margin-right: rem(10px);
    }

    &__controls {
        background: map-get($colors, "primary");
        display: flex;
    }

    &__title {
        color: map-get($colors, "white");
        text-transform: uppercase;
        letter-spacing: 1.1px;
        line-height: 1.81;
        display: flex;
        align-items: center;

        font: {
            size: rem(49px);
            weight: 600;
        }
    }

    &__logo {
        width: 60px;
        height: 60px;
        display: inline-block;
        background-size: 90px;
        background-position: center -10px;
        margin-right: 10px;
    }

    &__description {
        color: map-get($colors, "white");
        font-weight: 300;
        line-height: 1.71;
        font-size: rem(14px);

    }
}