$white: #fff;
$black: #000;
$dark: #4F4F4E;
$background-body: #0C120C;
$background: #404E4D;
$button-gradient: linear-gradient(rgba(#AF9B46, .5) 0%, rgba($black, .5), 100%);
$background-gradient: linear-gradient(to bottom right, rgba(#E6EBE0, .5) 0%, rgba(#B9C7A8, 1) 100%);
$primary: #4A90E2;

$colors: ("primary": #0d82e9,
"primary-medium": #086fc9,
"primary-dark": #10439d,
"black": #000000,
"white": #ffffff,
"positive": #83cd7b,
"negative": #dc656a,
"neutral": #f0be4b,
"card-yellow": #dce664,
"card-red": #d12c2c);

$cards: ("red-bg": #d12c2c,
"yellow-bg": #dce664,
"yellow-text": #a2ac2f,
"red-text": #881717);