/* Fontfamily */

$basefont: 'Rubik',
sans-serif;
$headerfont: $basefont;
$fontAwesome: "Font Awesome 5 Free";
$material: "Material Icons";

.material-icon {
    font-family: $material;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $headerfont;
}

h1 {
    font-size: rem(36px);
}

h2 {
    font-size: rem(30px);
}

h3 {
    font-size: rem(24px);
}

h4 {
    font-size: rem(20px);
}

div,
span,
ul,
ol,
li,
strong {
    font-family: $basefont;
    font-size: rem(18px);
}